.banner{
    overflow: hidden;
}
/*.banner img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    transition: all 0.5s linear;
    animation-name: Zoom;
}*/

/*.banner img:hover{
    transform: translateX(10px);
    transform: translateY(10px);
    transform: translate(10px, 10px);
    transform: skew(10deg);
    transform: skew(10deg);
    transform: skewY(10deg);
    transform: skewX(10deg);
    transform: scale(1.05);
}*/


.banner img{
    height: 500px;
    width: 100%;
    object-fit: cover;
    transform: scale(1);
    animation-name: Zoom;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-timing-function: linear;
}
@keyframes Zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.4);
    }
}


.box{
    background: #358ad3;
    height: 300px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    position: relative;
}
.ball{
    height: 80px;
    width: 80px;
    background: #0026f7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

.gallary{
    position: relative;
    overflow: hidden;
    height: 350px;
}
.gallary img:nth-child(1){
    position: absolute;
    right: 0px;
    bottom: 0px;
    transition: all 0.5s linear;
    width: 100%;
}
.gallary img:nth-child(2){
    position: absolute;
    right: 650px;
    bottom: 0px;
    transition: all 0.5s linear;
}
.gallary:hover img:nth-child(1){
    position: absolute;
    right: 650px;
    bottom: 0px;
    z-index: 0;
    
}
.gallary:hover img:nth-child(2){
    position: absolute;
    right: 0px;
    bottom: 0px;
    /* transform: translate(0px, 0px); */
    
    
}
.gallary h1{
    position: absolute;
    top: 65%;
    right: 50%;
    transform: translate( 50%, -65%);
    color: #fff;
    font-size: 30px;
    margin: 0px;
    transition: all 0.3s linear;
    opacity: 0;
}
.gallary a{
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate( -50%, 20%);
    transition: all 0.3s linear;
    opacity: 0;
}
.gallary:hover a{
    left: 50%;
    bottom: 36%;
    transform: translate( -50%, 36%);
    opacity: 1;
}
.gallary:hover h1{
    top: 50%;
    right: 50%;
    transform: translate( 50%, -50%);
    opacity: 1;
}
.gallary .dicount-box{
    height: 250px;
    width: 250px;
    background-color: #0083f5;
    position: absolute;
    top: -189px;
    right: -212px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 50%;
    padding-left: 40px;
    padding-bottom: 32px;
    transition: all 0.3s linear;
    opacity: 0;
}
.gallary:hover .dicount-box{
    top: -130px;
    right: -75px;
    opacity: 1;
}
.gallary .dicount-box h3{
    font-size: 30px;
    max-width: 180px;
    color: #fff;
    font-weight: 500;
}
